* {
    text-decoration: none;
    list-style: none;
    font-family: "Nunito", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.container_gallery {
    width: 1500px;
    margin: 0 auto;
}

.container-video {
    width: 1400px;
    margin: 0 auto;
}

#myTopnav {

}

.nav_bar_top_logo_img {
    width: 100px;
    height: 80px;
}

body {
    background-image: url("../images/bg-contact.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.topnav {
    /*display: inline-block;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    width: 100%;
    /*display: flex;*/
    background-color: rgba(0, 0, 0, 0.8);
    /*height: 70px;*/
    position: fixed;
    z-index: 999;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    /*background-color: #4CAF50;*/
    color: white;
}

.topnav .icon {
    display: none;
}

.logo-contact-lights {
    /*display: flex;*/
    /*justify-content: center;*/
    display: inline;
    height: 4rem;
    /*width: 5rem;*/
    /*padding-top: 150px;*/
}

.video {
    padding-top: 130px;
}

.vinyl {
    display: flex;
}

.vinyl-img {
    width: 1000px;
    height: 700px;
}

.description {
    padding-top: 275px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.specs-vinyl {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.specs-info-vinyl {
    font-size: 16px;
}

.links {
    display: flex;
    /*justify-content: center;*/
    margin-top: 60px;
}

.link-items {
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #333333;
    border-radius: 3px;
    background-color: rgba(243, 243, 243, 0);
    width: 48px;
    height: 46px;
}

.links-second-row {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-items:hover {
    border-color: #ae804e;
}

.fab, .fa-soundcloud, .fa-music {
    color: white;
}

.tabs__caption {
    display: flex;
    color: #717171;
    font-size: 30px;
    padding-left: 100px;
}

.tabs__caption li {
    padding: 15px 15px;
    margin: 1px 0 0 1px;
    color: #ae804e;
    border-width: 2px 2px 0;
    text-align: center;
}

.tabs__caption li:not(.active) {
    cursor: pointer;
}

.tabs__caption .active {
    background: #ae804e;
    color: #000;
    border-color: #7DCA86;
}

.tabs__content {
    display: none;

}

.tabs__content.active {
    display: block;
}

.vinyl-img-in-tabs {
    width: 300px;
    height: 300px;
}

.tabs__caption__centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 110px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.desc {
    color: #cccccc;
    font-size: 14px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    color: white;
    font-size: 18px;
}

.music-sub-title {
    display: flex;
}

.singles {
    padding-top: 100px;
}

.singles-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 800;
    padding-bottom: 30px;
}

.concerts {
    width: 80%;
    margin: 0 auto;
    /*display: inline-block;*/

    padding-bottom: 100px;
}

.title-concerts {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    padding-bottom: 30px;
    padding-top: 100px;
    font-weight: 900;
}

.concert-image {
    float: left;
    width: 500px;
    height: 300px;
    padding-right: 50px;
}

.dates-of-concert {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    padding-bottom: 80px;
    text-align: center;
}

.info-about-concert {
    /*display: inline-block;*/
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    color: #fff;
    font-size: 23px;
    padding-bottom: 130px;
}

.contacts {
    padding-bottom: 80px;
    padding-top: 100px;
    /*padding-top: 70px;*/

    /*padding-bottom: 200px;*/
}

.slider-wrapper {
    position: relative;
    text-align: center;
    margin: 2rem auto 0;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-wrapper:hover .slider-up-titles {
    z-index: 1;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.slider-up-titles {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: -1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.slider-img {
    width: 800px;
}

.slider-title {
    margin-top: 20px;
    margin-left: 20px;
    color: orange;
    font-size: 20px;
}

.slider-sub-title {
    margin-left: 20px;
    color: white;
    font-size: 16px;
}

.slider-buttons {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.slider-button-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ae804e;
    margin-right: 8px;
    cursor: pointer;
}

.slider-button-circle:last-of-type {
    margin: 0;
}

.slider-button-active {
    background-color: maroon;
}

.title-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: 900;
}

.under-title-contacts {
    margin: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    color: #ae804e;
    font-weight: 600;
}

.under-title-contacts-info {
    /*padding-left: 40px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /*font-weight: 800;*/
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    height: 100px;
    /*width: 100%;*/
    background-color: rgba(5, 1, 4, 1);
    /*position: fixed;*/
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
}

@media screen and (min-width: 319px) and (max-width: 610px) {

    .nav_bar_top {
        width: 100%;
    }

    .nav_bar_top_ul {
        display: flex;
        overflow: hidden;
    }

    .nav_bar_top_logo_img {
        /*width: 100px;*/
        /*height: 80px;*/
        width: 100px;
        height: 80px;
        padding-left: 75%;
    }

    .video {
        width: 100%;
        height: 100px;
    }

    .vinyl {
        padding-top: 200px;
        /*margin-top: 100px;*/
        /*display: flex;*/
        /*display: inline-block;*/
        display: flex;
        flex-direction: column;
    }

    .vinyl-img {
        display: flex;
        flex-direction: column;
        /*padding-left: 2%;*/
        margin-top: 2%;
        padding-top: 5%;
        width: 320px;
        height: 265px;
        /*width: 30%;*/
        /*height: 20%;*/
    }

    .description {
        display: inline-block;
        /*display: flex;*/
        /*padding-left: 2%;*/
        padding-top: 30px;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*text-align: center;*/
    }

    .tabs__caption__centered {
        display: inline-block;
    }

    .specs-vinyl {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .links-second-row {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /*.tabs__caption__centered {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /**/
    /*}*/
    /*.tabs {*/
    /*padding-left: 3%;*/
    /*}*/
    .active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-about-concert {
        /*display: inline-block;*/
        width: 100%;
        /*display: inline;*/
    }

    .title-concerts {
        display: flex;
        /*justify-content: flex-start;*/
        /*align-items: center;*/
        /*text-align: center;*/
    }

    .concert-image {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 2%;
        align-items: center;
        /*padding-left: 40px;*/
        width: 300px;
        height: 250px;
    }

    .slider-img {
        display: inline-block;
    }

    .container {
        width: 320px;
    }
}

@media screen and (max-width: 650px) {

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
