* {
    text-decoration: none;
    list-style: none;
    font-family: "Nunito", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.container_gallery {
    width: 1500px;
    margin: 0 auto;
}

.container-video {
    width: 1400px;
    margin: 0 auto;
}

.nav_bar_top_logo_img {
    width: 100px;
    height: 80px;
}

.logo-contact-lights {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

body {
    background-image: url("../images/bg-contact.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.nav_bar_top {
    width: 100%;
    background-color: rgba(5, 1, 4, 0.5);
    position: fixed;
    z-index: 999;
    height: 75px;
}

.top_bg_img {
    background-image: url("../images/bg_header.jpg");
    background-size: cover;
    background-position: center;
}

.nav_bar_top_ul {
    padding-left: 200px;
}

.nav_bar_top_logo_img {
    padding-right: 4rem;
}

.nav_bar_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_logo {
    width: 19px;
    height: 18px;
}

.nav_bar_top_li, .nav_bar_top_li_home {
    display: inline-block;
    padding: 40px 16px;
}

.nav_bar_top_a, .nav_bar_top_a_h {
    color: white;
}

.logo-contact-lights {
    padding-top: 150px;
}

.video {
    padding-top: 85px;
}

.vinyl {
    display: flex;
}

.vinyl-img {
    width: 1000px;
    height: 700px;
}

.description {
    padding-top: 275px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.specs-vinyl {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.specs-info-vinyl {
    font-size: 16px;
}

.links {
    display: flex;
    margin-top: 60px;
}

.link-items {
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #333333;
    border-radius: 3px;
    background-color: rgba(243, 243, 243, 0);
    width: 48px;
    height: 46px;
}

.link-items:hover {
    border-color: #ae804e;
}

.fab, .fa-soundcloud, .fa-music {
    color: white;
}

.tabs__caption {
    display: flex;
    color: #717171;
    font-size: 30px;
    padding-left: 100px;
}

.tabs__caption li {
    padding: 15px 15px;
    margin: 1px 0 0 1px;
    color: #ae804e;
    border-width: 2px 2px 0;
    text-align: center;
}

.tabs__caption li:not(.active) {
    cursor: pointer;
}

.tabs__caption .active {
    background: #ae804e;
    color: #000;
    border-color: #7DCA86;
}

.tabs__content {
    display: none;

}

.tabs__content.active {
    display: block;
}

.vinyl-img-in-tabs {
    width: 300px;
    height: 300px;
}

.tabs__caption__centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 95px;
}

.gallery {
    margin-top: 50px;
    margin: 35px;
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
}

.gallery-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    padding-bottom: 30px;
    padding-top: 100px;
    font-weight: 900;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.desc {
    color: #cccccc;
    font-size: 14px;
}

.gallery-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1 {
    width: 700px;
    height: 500px;
}

.gallery-info {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    color: white;
    font-size: 18px;
}

.music-sub-title {
    display: flex;
}

.concerts {
    padding-bottom: 100px;
}

.title-concerts {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    padding-bottom: 30px;
    padding-top: 100px;
    font-weight: 900;
}

.concert-image {
    float: left;
    width: 500px;
    height: 300px;
    padding-right: 50px;
}

.dates-of-concert {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    padding-bottom: 80px;
    text-align: center;
}

.info-about-concert {
    color: #ae804e;
    font-size: 23px;
    padding-bottom: 130px;
}

.contacts {
    padding-top: 70px;
    padding-bottom: 200px;
}

.title-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: 900;
}

.under-title-contacts {
    margin: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    color: #ae804e;
    font-weight: 600;
}

.under-title-contacts-info {
    /*padding-left: 40px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /*font-weight: 800;*/
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    height: 100px;
    /*width: 100%;*/
    background-color: rgba(5, 1, 4, 1);
    /*position: fixed;*/
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
}



@media screen and (min-width: 320px) and (max-width: 414px){
    .nav_bar_top {
        width: 100%;
    }

    .nav_bar_top_ul {
        display: flex;
        overflow: hidden;
    }

    .nav_bar_top_logo_img {
        /*width: 100px;*/
        /*height: 80px;*/
        width: 100px;
        height: 80px;
        padding-left: 75%;
    }

    .video {
        width: 100%;
        height: 100px;
    }

    .vinyl {
        padding-top: 3%;
        display: inline-block;
    }

    .vinyl-img {
        display: flex;
        flex-direction: column;
        padding-left: 2%;
        padding-top: 5%;
        width: 320px;
        height: 275px;
        /*width: 30%;*/
        /*height: 20%;*/
    }

    .description {
        display: inline-block;
        padding-left: 2%;
        padding-top: 30px;
        /*display: flex;*/
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tabs__caption__centered {
        display: inline-block;
    }

    /*.tabs__caption {*/
        /*float: left;*/
    /*}*/

    .specs-vinyl {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*.tabs__caption__centered {*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*text-align: center;*/
    /**/
    /*}*/

    /*.tabs {*/
        /*padding-left: 3%;*/
    /*}*/

    .active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery-block {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        /*text-align: center;*/
    }

    .gallery-info {
        display: flex;
        flex-direction: column;
    }

    .title-concerts {
        display: flex;
        justify-content: flex-start;
        /*align-items: center;*/
        /*text-align: center;*/
    }

    .concert-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
    }
}